.wrapper .list {
  margin: 0;
  padding: 0 0 40px;
}

.wrapper .list li {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ece8e8;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: #e0dede;
}
