.wrapper {
position: relative;
width: 100%;;
 
  .list {
    margin: 0;
    padding: 0 0 40px;
    li {
      list-style-type: none;
      padding: 10px;
      border: 1px solid rgb(236, 232, 232);
      text-align: left;
      margin-bottom: 5px;
      border-radius: 8px;
      background-color: rgb(224, 222, 222);
    }
  }
}
.search_wrapper {
  margin-bottom: 20px;
}
.list_item {
  display:flex;
  justify-content: space-between;
  margin:0;

  button {
    background-color: #282C34;
    color:#fff;
    border:#fff;
    border-radius: 5px;
    min-width: 60px;
  }
}