.wrapper {
  position: relative;
  width: 100%;
}

.wrapper .list {
  margin: 0;
  padding: 0 0 40px;
}

.wrapper .list li {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ece8e8;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: #e0dede;
}

.search_wrapper {
  margin-bottom: 20px;
}

.list_item {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.list_item button {
  background-color: #282C34;
  color: #fff;
  border: #fff;
  border-radius: 5px;
  min-width: 60px;
}
